In [1]:
import pandas as pd
import numpy as np

In [2]:
most_recent_Cohorts=pd.read_csv("Most-Recent-Cohorts-Field-of-Study.csv")
most_recent_Cohorts.head()

,UNITID,OPEID6,INSTNM,CONTROL,MAIN,CIPCODE,CIPDESC,CREDLEV,CREDDESC,IPEDSCOUNT1,...,EARN_COUNT_PELL_WNE_5YR,EARN_PELL_WNE_MDN_5YR,EARN_COUNT_NOPELL_WNE_5YR,EARN_NOPELL_WNE_MDN_5YR,EARN_COUNT_MALE_WNE_5YR,EARN_MALE_WNE_MDN_5YR,EARN_COUNT_NOMALE_WNE_5YR,EARN_NOMALE_WNE_MDN_5YR,EARN_COUNT_HIGH_CRED_5YR,EARN_IN_STATE_5YR
0,100654.0,1002,Alabama A & M University,Public,1,100,Agriculture,3,Bachelor's Degree,NaN,...,PS,PS,PS,PS,PS,PS,PS,PS,PS,PS
1,100654.0,1002,Alabama A & M University,Public,1,101,Agricultural Business and Management.,3,Bachelor's Degree,NaN,...,PS,PS,PS,PS,PS,PS,PS,PS,PS,PS
2,100654.0,1002,Alabama A & M University,Public,1,109,Animal Sciences.,3,Bachelor's Degree,3.0,...,PS,PS,PS,PS,PS,PS,PS,PS,PS,PS
3,100654.0,1002,Alabama A & M University,Public,1,110,Food Science and Technology.,3,Bachelor's Degree,7.0,...,PS,PS,PS,PS,PS,PS,PS,PS,PS,PS
4,100654.0,1002,Alabama A & M University,Public,1,110,Food Science and Technology.,5,Master's Degree,4.0,...,PS,PS,PS,PS,PS,PS,PS,PS,PS,PS

In [3]:
salaries_by_clgtype=pd.read_csv("salaries-by-college-type.csv")
salaries_by_clgtype.head()

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Massachusetts Institute of Technology,Engineering,"$72,200.00","$126,000.00","$76,800.00","$99,200.00","$168,000.00","$220,000.00"
1,California Institute of Technology,Engineering,"$75,500.00","$123,000.00",NaN,"$104,000.00","$161,000.00",NaN
2,Harvey Mudd College,Engineering,"$71,800.00","$122,000.00",NaN,"$96,000.00","$180,000.00",NaN
3,"Polytechnic University of New York, Brooklyn",Engineering,"$62,400.00","$114,000.00","$66,800.00","$94,300.00","$143,000.00","$190,000.00"
4,Cooper Union,Engineering,"$62,200.00","$114,000.00",NaN,"$80,200.00","$142,000.00",NaN

In [58]:
salaries_by_region=pd.read_csv("salaries-by-region.csv")
salaries_by_region.head()

,School Name,Region,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Stanford University,California,"$70,400.00","$129,000.00","$68,400.00","$93,100.00","$184,000.00","$257,000.00"
1,California Institute of Technology,California,"$75,500.00","$123,000.00",NaN,"$104,000.00","$161,000.00",NaN
2,Harvey Mudd College,California,"$71,800.00","$122,000.00",NaN,"$96,000.00","$180,000.00",NaN
3,"University of California, Berkeley",California,"$59,900.00","$112,000.00","$59,500.00","$81,000.00","$149,000.00","$201,000.00"
4,Occidental College,California,"$51,900.00","$105,000.00",NaN,"$54,800.00","$157,000.00",NaN

In [5]:
Degree_pay=pd.read_csv("degrees-that-pay-back.csv")

In [6]:
Degree_pay.head()

,Major,Starting Median Salary,Mid-Career Median Salary,Percent change from Starting to Mid-Career Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Accounting,"$46,000.00","$77,100.00",67.6,"$42,200.00","$56,100.00","$108,000.00","$152,000.00"
1,Aerospace Engineering,"$57,700.00","$101,000.00",75.0,"$64,300.00","$82,100.00","$127,000.00","$161,000.00"
2,Agriculture,"$42,600.00","$71,900.00",68.8,"$36,300.00","$52,100.00","$96,300.00","$150,000.00"
3,Anthropology,"$36,800.00","$61,500.00",67.1,"$33,800.00","$45,500.00","$89,300.00","$138,000.00"
4,Architecture,"$41,600.00","$76,800.00",84.6,"$50,600.00","$62,200.00","$97,000.00","$136,000.00"

In [7]:
Degree_pay['Major'] = Degree_pay['Major'].str.strip().str.lower()

In [8]:
matching_values = Degree_pay["Major"].unique()

In [9]:
matching_values

array(['accounting', 'aerospace engineering', 'agriculture',
       'anthropology', 'architecture', 'art history', 'biology',
       'business management', 'chemical engineering', 'chemistry',
       'civil engineering', 'communications', 'computer engineering',
       'computer science', 'construction', 'criminal justice', 'drama',
       'economics', 'education', 'electrical engineering', 'english',
       'film', 'finance', 'forestry', 'geography', 'geology',
       'graphic design', 'health care administration', 'history',
       'hospitality & tourism', 'industrial engineering',
       'information technology (it)', 'interior design',
       'international relations', 'journalism',
       'management information systems (mis)', 'marketing', 'math',
       'mechanical engineering', 'music', 'nursing', 'nutrition',
       'philosophy', 'physician assistant', 'physics',
       'political science', 'psychology', 'religion', 'sociology',
       'spanish'], dtype=object)

In [10]:
Degree_pay["Major"].count()

50

In [11]:
most_recent_Cohorts["CIPDESC"].unique()

array(['Agriculture', 'Agricultural Business and Management.',
       'Animal Sciences.', 'Food Science and Technology.',
       'Plant Sciences.',
       'Agriculture, Agriculture Operations, and Related Sciences, Other.',
       'Forestry', 'City/Urban, Community and Regional Planning.',
       'Ethnic, Cultural Minority, Gender, and Group Studies.',
       'Communication and Media Studies.',
       'Audiovisual Communications Technologies/Technicians.',
       'Computer and Information Sciences, General.',
       'Education, General.',
       'Educational Administration and Supervision.',
       'Special Education and Teaching.',
       'Teacher Education and Professional Development, Specific Levels and Methods.',
       'Teacher Education and Professional Development, Specific Subject Areas.',
       'Civil Engineering',
       'Electrical, Electronics and Communications Engineering.',
       'Mechanical Engineering', 'Engineering, Other.',
       'Electrical Engineering',
       'Industrial Production Technologies/Technicians.',
       'Mechanical Engineering Related Technologies/Technicians.',
       'Construction',
       'Family and Consumer Sciences/Human Sciences, General.',
       'English Language and Literature, General.',
       'Liberal Art History and Sciences, General Studies and Humanities.',
       'Biology', 'Math', 'Health and Physical Education/Fitness.',
       'Chemistry', 'Physics', 'Psychology',
       'Clinical, Counseling and Applied Psychology.', 'Criminal Justice',
       'Social Work.', 'Political Science', 'Sociology', 'Art History',
       'Music', 'Communication Disorders Sciences and Services.',
       'Business Management', 'Accounting',
       'Entrepreneurial and Small Business Operations.', 'Finance',
       'Marketing',
       'Public Relations, Advertising, and Applied Communication.',
       'Information Science/Studies.', 'Information Technology (IT)',
       'Curriculum and Instruction.',
       'Educational Assessment, Evaluation, and Research.',
       'Student Counseling and Personnel Services.',
       'Teaching English or French as a Second or Foreign Language.',
       'Engineering, General.', 'Biomedical/Medical Engineering.',
       'Computer Engineering', 'Materials Engineering',
       'Construction Engineering.', 'Electrical and Computer Engineering',
       'Linguistic, Comparative, and Related Language Studies and Services.',
       'Romance Languages, Literatures, and Linguistics.',
       'Biochemistry, Biophysics and Molecular Biology.',
       'Cell/Cellular Biology and Anatomical Sciences.',
       'Microbiological Sciences and Immunology.', 'Genetics.',
       'Physiology, Pathology and Related Sciences.',
       'Pharmacology and Toxicology.',
       'Biomathematics, Bioinformatics, and Computational Biology.',
       'Biotechnology.',
       'Ecology, Evolution, Systematics, and Population Biology.',
       'Molecular Medicine.', 'Neurobiology and Neurosciences.',
       'Biological and Biomedical Sciences, Other.', 'Applied Math',
       'Systems Science and Theory.', 'Nutrition',
       'Intercultural/Multicultural and Diversity Studies.',
       'Data Science.', 'Multi/Interdisciplinary Studies, Other.',
       'Philosophy', 'Science Technologies/Technicians, General.',
       'Security Science and Technology.', 'Public Administration.',
       'Social Sciences, General.', 'Anthropology',
       'Social Sciences, Other.', 'Drama',
       'Health Services/Allied Health/Health Sciences, General.',
       'Dentistry.', 'Advanced/Graduate Dentistry and Oral Sciences.',
       'Dental Support Services and Allied Professions.',
       'Health Care Administration',
       'Allied Health Diagnostic, Intervention, and Treatment Professions.',
       'Clinical/Medical Laboratory Science/Research and Allied Professions.',
       'Medicine.',
       'Mental and Social Health Services and Allied Professions.',
       'Optometry.', 'Public Health.',
       'Rehabilitation and Therapeutic Professions.',
       'Dietetics and Clinical Nutrition Services.', 'Nursing',
       'Business/Managerial Economics',
       'Human Resources Management and Services.',
       'Management Information Systems (MIS)',
       'General Sales, Merchandising and Related Marketing Operations.',
       'History',
       'Human Development, Family Studies, and Related Services.',
       'Multi-/Interdisciplinary Studies, General.', 'Religion',
       'Bible/Biblical Studies.', 'Religious Education.',
       'Theological and Ministerial Studies.',
       'Pastoral Counseling and Specialized Ministries.',
       'Business/Corporate Communications.',
       'Computer Software and Media Applications.',
       'Aerospace, Aeronautical and Astronautical Engineering.',
       'Chemical Engineering', 'Industrial Engineering',
       'Rhetoric and Composition/Writing Studies.',
       'Biological and Physical Sciences.',
       'Science, Technology and Society.',
       'Atmospheric Sciences and Meteorology.', 'Materials Sciences.',
       'Physical Sciences, Other.', 'International Relations',
       'Bioethics/Medical Ethics.',
       'Management Sciences and Quantitative Methods.',
       'Computer Science', 'Educational/Instructional Media Design.',
       'Parks, Recreation and Leisure Facilities Management.',
       'Public Administration and Social Service Professions, Other.',
       'Dance.', 'Natural Resources Conservation and Research.',
       'Area Studies.', 'Journalism', 'Communications',
       'Architectural Engineering.',
       'Environmental/Environmental Health Engineering.',
       'Metallurgical Engineering.', 'Manufacturing Engineering.',
       'Germanic Languages, Literatures, and Linguistics.',
       'Family and Consumer Economics and Related Studies.',
       'Foods, Nutrition, and Related Services.', 'Apparel and Textiles.',
       'Law.', 'Legal Research and Advanced Professional Studies.',
       'Library Science and Administration.', 'Statistics.',
       'Applied Statistics.', 'International/Global Studies.',
       'Geological and Earth Sciences/Geosciences.', 'Criminology.',
       'Economics', 'Geography', 'Interior Design',
       'Health Professions and Related Clinical Sciences, Other.',
       'Hospitality & Tourism', 'Taxation.',
       'Cosmetology and Related Personal Grooming Services.',
       'Drafting/Design Engineering Technologies/Technicians.',
       'Electrical/Electronics Maintenance and Repair Technology.',
       'Precision Metal Working.',
       'Allied Health and Medical Assisting Services.',
       'Practical Nursing, Vocational Nursing and Nursing Assistants.',
       'Business Operations Support and Assistant Services.',
       'Education, Other.', 'Behavioral Sciences.', 'Fire Protection.',
       'Homeland Security.',
       'Business, Management, Marketing, and Related Support Services, Other.',
       'Basic Skills and Developmental/Remedial Education.',
       'Physical Sciences.', 'Business/Commerce, General.',
       'International Business.', 'Agricultural Production Operations.',
       'Agricultural Public Services.', 'Veterinary Medicine.',
       'Veterinary Biomedical and Clinical Sciences.',
       'Natural Resources Management and Policy.',
       'Wildlife and Wildlands Science and Management.', 'Architecture',
       'Environmental Design.', 'Interior Architecture',
       'Landscape Architecture', 'Real Estate Development.',
       'Polymer/Plastics Engineering.',
       'Biological/Biosystems Engineering.',
       'Engineering-Related Fields.',
       'Family and Consumer Sciences/Human Sciences, Other.',
       'Non-Professional General Legal Studies (Undergraduate).',
       'Zoology/Animal Biology.', 'Air Transportation.',
       'Pharmacy, Pharmaceutical Sciences, and Administration.',
       'Architecture and Related Services, Other.',
       'Homeland Security, Law Enforcement, Firefighting and Related Protective Services, Other.',
       'Legal Support Services.',
       'Heavy/Industrial Equipment Maintenance Technologies.',
       'Vehicle Maintenance and Repair Technologies.',
       'Applied Horticulture and Horticultural Business Services.',
       'Veterinary/Animal Health Technologies/Technicians.',
       'Environmental Control Technologies/Technicians.',
       'Mechanic and Repair Technologies/Technicians, Other.',
       'Woodworking.', 'Agriculture/Veterinary Preparatory Programs.',
       'Missions/Missionary Studies and Missiology.',
       'Psychology, Other.', 'Health/Medical Preparatory Programs.',
       'Communication, Journalism, and Related Programs, Other.',
       'Civil Engineering Technologies/Technicians.', 'Mason/Masonry.',
       'Carpenters.',
       'Somatic Bodywork and Related Therapeutic Services.',
       'Nuclear and Industrial Radiologic Technologies/Technicians.',
       'Electrical and Power Transmission Installers.',
       'Culinary Art History and Related Services.',
       'Engineering Technology, General.',
       'Building/Construction Finishing, Management, and Inspection.',
       'Mechanics and Repairers, General.',
       'Heating, Air Conditioning, Ventilation and Refrigeration Maintenance Technology/Technician (HAC, HACR, HVAC, HVACR).',
       'Computer Programming.',
       'Plumbing and Related Water Supply Services.',
       'Leatherworking and Upholstery.',
       'Quality Control and Safety Technologies/Technicians.',
       'Engineering Technologies/Technicians, Other.',
       'Parks, Recreation and Leisure Studies.',
       'Funeral Service and Mortuary Science.',
       'Agricultural and Domestic Animal Services.',
       'Research and Experimental Psychology.',
       'Visual and Performing Art History, General.',
       'Leisure and Recreational Activities.', 'Religious/Sacred Music',
       'Theology and Religious Vocations, Other.',
       'Sustainability Studies.',
       'Parks, Recreation, Leisure, and Fitness Studies, Other.',
       'Art History, Entertainment,and Media Management.',
       'Public Policy Analysis.',
       'Electromechanical Instrumentation and Maintenance Technologies/Technicians.',
       'Precision Systems Maintenance and Repair Technologies.',
       'Ground Transportation.', 'Engineering Physics',
       'Classics and Classical Languages, Literatures, and Linguistics.',
       'Cultural Studies/Critical Theory and Analysis.',
       'Philosophy and Religious Studies, General.',
       'Philosophy and Religious Studies, Other.',
       'Human Services, General.',
       'Visual and Performing Art History, Other.',
       'Medical Illustration and Informatics.', 'Systems Engineering.',
       'Gerontology.', 'Biopsychology.',
       'Computer and Information Sciences and Support Services, Other.',
       'Engineering-Related Technologies.', 'American Sign Language.',
       'Soil Sciences.', 'Architectural Sciences and Technology.',
       'Personal and Culinary Services, Other.',
       'Naval Architecture and Marine Engineering.',
       'Architectural Engineering Technologies/Technicians.',
       'Mining and Petroleum Technologies/Technicians.',
       'Computer Engineering Technologies/Technicians.',
       'American Indian/Native American Languages, Literatures, and Linguistics.',
       'Outdoor Education.', 'Science Technologies/Technicians, Other.',
       'Community Organization and Advocacy.',
       'Construction Trades, General.',
       'Fishing and Fisheries Sciences and Management.',
       'Natural Resources and Conservation, Other.',
       'Bilingual, Multilingual, and Multicultural Education.',
       'Teaching Assistants/Aides.', 'Mining and Mineral Engineering.',
       'Petroleum Engineering.', 'Geological/Geophysical Engineering.',
       'East Asian Languages, Literatures, and Linguistics.',
       'Foreign Languages, Literatures, and Linguistics, Other.',
       'Legal Professions and Studies, Other.', 'Natural Sciences.',
       'Marine Sciences.', 'Astronomy and AstroPhysics', 'Film.',
       'Marine Transportation.',
       'Crafts/Craft Design, Folk Art and Artisanry.',
       'Maritime Studies.', 'Health Aides/Attendants/Orderlies.',
       'Computer Systems Analysis.',
       'Social and Philosophical Foundations of Education.',
       'Engineering Science.',
       'Mechatronics, Robotics, and Automation Engineering.',
       'Energy Systems Engineering.', 'Nanotechnology.',
       'Energy Systems Technologies/Technicians.',
       'Slavic, Baltic and Albanian Languages, Literatures, and Linguistics.',
       'Middle/Near Eastern and Semitic Languages, Literatures, and Linguistics.',
       'Family and Consumer Sciences/Human Sciences Business Services.',
       'Botany/Plant Biology.', 'Mathematics and Statistics, Other.',
       'Mathematics and Computer Science',
       'Medieval and Renaissance Studies.', 'Museology/Museum Studies.',
       'Cognitive Science.', 'Dispute Resolution.',
       'Computational Science.', 'Human Computer Interaction.',
       'Earth Systems Science.', 'History and Political Science.',
       'Digital Humanities and Textual Studies.',
       'Demography and Population Studies.', 'Urban Studies/Affairs.',
       'Community/Environmental/Socially-Engaged Art.', 'Insurance.',
       'Area, Ethnic, Cultural, and Gender Studies, Other.',
       'Agricultural Engineering.',
       'Iranian/Persian Languages, Literatures, and Linguistics.',
       'Intelligence, Command Control and Information Operations.',
       'Historic Preservation and Conservation.',
       'Linguistics and Anthropology',
       'Philosophy, Politics, and Economics', 'Archeology.',
       'Medical Clinical Sciences/Graduate Medical Studies.',
       'Agricultural Mechanization.', 'Accounting and Computer Science',
       'Biology Technician/Biotechnology Laboratory Technician.',
       'Military Systems and Maintenance Technology.',
       'Data Entry/Microcomputer Applications.', 'Literature.',
       'Real Estate.', 'Human Biology.', 'Construction Trades, Other.',
       'Ophthalmic and Optometric Support Services and Allied Professions.',
       'Specialized Sales, Merchandising and  Marketing Operations.',
       'Library and Archives Assisting.',
       'International and Comparative Education.',
       'English Language and Literature/Letters, Other.',
       'Communications Technology/Technician.', 'Data Processing.',
       'Movement and Mind-Body Therapies and Education.',
       'Noncommercial Vehicle Operation.',
       'Peace Studies and Conflict Resolution.', 'Operations Research.',
       'Nuclear Engineering Technologies/Technicians.',
       'Library Science, Other.',
       'Military Technologies and Applied Sciences, Other.',
       'Housing and Human Environments.', 'Nursing.',
       'Physical Science Technologies/Technicians.',
       'Alternative and Complementary Medicine and Medical Systems.',
       'Communications Technologies/Technicians and Support Services, Other.',
       'Data Analytics.', 'Engineering Mechanics.',
       'High School/Secondary Certificate Programs.',
       'Nuclear Engineering.', 'BioChemical Engineering',
       'Celtic Languages, Literatures, and Linguistics.',
       'Classical and Ancient Studies.', 'International Agriculture.',
       'Textile Sciences and Engineering.',
       'Transportation and Materials Moving, Other.',
       'Southeast Asian and Australasian/Pacific Languages, Literatures, and Linguistics.',
       'Health-Related Knowledge and Skills.',
       'Telecommunications Management.', 'Second Language Learning.',
       'Chiropractic.', 'Publishing.', 'Sociology and Anthropology',
       'Geography and Environmental Studies.',
       'History and Language/Literature.', 'Military Applied Sciences.',
       'Environmental Geosciences.',
       'Architectural History and Criticism.',
       'Dental Residency Programs.',
       'Religious Institution Administration and Law.',
       'Engineering Chemistry',
       'Agricultural and Food Products Processing.', 'Ocean Engineering.',
       'Clinical Psychology.', 'Surveying Engineering.',
       'Emergency Medicine Residency/Fellowship Programs.',
       'Personal Awareness and Self-Improvement.',
       'Radiology Residency/Fellowship Programs.',
       'Veterinary Residency Programs.',
       'South Asian Languages, Literatures, and Linguistics.',
       'Air Force ROTC, Air Science and Operations.',
       'Alternative and Complementary Medical Support Services.',
       'Boilermaking/Boilermaker.', 'Citizenship Activities.',
       'Economics and Computer Science', 'ElectroMechanical Engineering',
       'Energy and Biologically Based Therapies.',
       'Energy Systems Maintenance and Repair Technologies/Technicians.',
       'Veterinary Administrative Services.', 'Community Psychology.',
       'Precision Production, Other.', 'Physics and Astronomy.',
       'Physiological Psychology/Psychobiology.',
       'Army ROTC, Military Science and Operations.',
       'Casino Operations and Services.',
       'Paper Science and Engineering.', 'Counseling Psychology.',
       'African Languages, Literatures, and Linguistics.',
       'Modern Greek Language and Literature.',
       'Turkic, Uralic-Altaic, Caucasian, and Central Asian Languages, Literatures, and Linguistics.',
       'High School/Secondary Diploma Programs.',
       'Holocaust and Related Studies.',
       'Precision Production Trades, General.', 'Climate Science.',
       'Cultural Studies and Comparative Literature.',
       'Surgery Residency/Fellowship Programs.',
       'Work and Family Studies.', 'Ceramic Sciences and Engineering.',
       'Security Policy and Strategy.', 'Mathematical Economics',
       'Geobiology.', 'Thanatology.',
       'Cognitive Psychology and Psycholinguistics.',
       'Linguistics and Computer Science',
       'Military Science and Operational Studies.',
       'Military Technology and Applied Sciences Management.',
       'Forest Engineering.', 'Anthrozoology.', 'Creative Writing.',
       'Interpersonal and Social Skills.',
       'English Literature (British and Commonwealth).',
       'Educational Psychology.', 'Medical Residency Programs.',
       'Developmental and Child Psychology.',
       'Preventive Medicine Residency/Fellowship Programs.',
       'Internal Medicine Residency/Fellowship Programs.',
       'Health Psychology.', 'Neurology Residency/Fellowship Programs.',
       'Psychiatry Residency/Fellowship Programs.',
       'Nurse Practitioner Residency/Fellowship Programs.',
       'Orthopedic Surgery Residency/Fellowship Programs.'], dtype=object)

In [12]:
most_recent_Cohorts['CIPDESC'] = most_recent_Cohorts['CIPDESC'].str.strip().str.lower()

In [14]:
most_recent_Cohorts['CIPDESC']

0                                               agriculture
1                     agricultural business and management.
2                                          animal sciences.
3                              food science and technology.
4                              food science and technology.
                                ...
229183                          business/commerce, general.
229184                                           accounting
229185    business operations support and assistant serv...
229186    business operations support and assistant serv...
229187                                            marketing
Name: CIPDESC, Length: 229188, dtype: object

This will help to reduce the rows to the degrees that are in other database.

In [15]:
most_recent_Cohorts_FD = most_recent_Cohorts[most_recent_Cohorts['CIPDESC'].isin(matching_values)]

In [16]:
print(most_recent_Cohorts['CIPDESC'].isin(matching_values)[most_recent_Cohorts['CIPDESC'].isin(matching_values)])

0         True
10        True
28        True
30        True
32        True
          ...
229174    True
229180    True
229182    True
229184    True
229187    True
Name: CIPDESC, Length: 75924, dtype: bool

In [20]:
most_recent_Cohorts_FD.to_csv("most_recent_Cohorts_FD.csv",index=False)

In [21]:
most_recent_Cohorts_FD

,UNITID,OPEID6,INSTNM,CONTROL,MAIN,CIPCODE,CIPDESC,CREDLEV,CREDDESC,IPEDSCOUNT1,...,EARN_COUNT_PELL_WNE_5YR,EARN_PELL_WNE_MDN_5YR,EARN_COUNT_NOPELL_WNE_5YR,EARN_NOPELL_WNE_MDN_5YR,EARN_COUNT_MALE_WNE_5YR,EARN_MALE_WNE_MDN_5YR,EARN_COUNT_NOMALE_WNE_5YR,EARN_NOMALE_WNE_MDN_5YR,EARN_COUNT_HIGH_CRED_5YR,EARN_IN_STATE_5YR
0,100654.0,1002,Alabama A & M University,Public,1,100,agriculture,3,Bachelor's Degree,NaN,...,PS,PS,PS,PS,PS,PS,PS,PS,PS,PS
10,100654.0,1002,Alabama A & M University,Public,1,305,forestry,3,Bachelor's Degree,5.0,...,PS,PS,PS,PS,PS,PS,PS,PS,PS,PS
28,100654.0,1002,Alabama A & M University,Public,1,1408,civil engineering,3,Bachelor's Degree,18.0,...,PS,PS,PS,PS,PS,PS,PS,PS,PS,PS
30,100654.0,1002,Alabama A & M University,Public,1,1419,mechanical engineering,3,Bachelor's Degree,41.0,...,PS,PS,PS,PS,PS,PS,PS,PS,PS,PS
32,100654.0,1002,Alabama A & M University,Public,1,1503,electrical engineering,3,Bachelor's Degree,NaN,...,PS,PS,PS,PS,PS,PS,PS,PS,PS,PS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229174,NaN,43006,Southeast New Mexico College,Public,1,4301,criminal justice,2,Associate's Degree,NaN,...,PS,PS,PS,PS,PS,PS,PS,PS,PS,PS
229180,NaN,43006,Southeast New Mexico College,Public,1,5107,health care administration,2,Associate's Degree,NaN,...,PS,PS,PS,PS,PS,PS,PS,PS,PS,PS
229182,NaN,43006,Southeast New Mexico College,Public,1,5138,nursing,2,Associate's Degree,NaN,...,PS,PS,PS,PS,PS,PS,PS,PS,PS,PS
229184,NaN,43006,Southeast New Mexico College,Public,1,5203,accounting,1,Undergraduate Certificate or Diploma,NaN,...,PS,PS,PS,PS,PS,PS,PS,PS,PS,PS
229187,NaN,43006,Southeast New Mexico College,Public,1,5214,marketing,3,Bachelor's Degree,NaN,...,PS,PS,PS,PS,PS,PS,PS,PS,PS,PS

Now we have the dataset that has all the degrees as other database.

In [26]:
salaries_by_clgtype["School Name"].unique()

array(['Massachusetts Institute of Technology',
       'California Institute of Technology', 'Harvey Mudd College',
       'Polytechnic University of New York, Brooklyn', 'Cooper Union',
       'Worcester Polytechnic Institute', 'Carnegie Mellon University ',
       'Rensselaer Polytechnic Institute',
       'Georgia Institute of Technology', 'Colorado School of Mines',
       'Stevens Institute of Technology',
       'Illinois Institute of Technology',
       'Wentworth Institute of Technology',
       'Virginia Polytechnic Institute and State University',
       'South Dakota School of Mines & Technology',
       'New Mexico Institute of Mining and Technology',
       'Rochester Institute of Technology',
       'Embry-Riddle Aeronautical University ',
       'Tennessee Technological University',
       'University of Illinois at Urbana-Champaign',
       'University of Maryland, College Park',
       'University of California, Santa Barbara',
       'University of Texas (UT) - Austin',
       'State University of New York (SUNY) at Albany',
       'University of Florida (UF)', 'Louisiana State University (LSU)',
       'University of Georgia (UGA)',
       'Pennsylvania State University (PSU)',
       'Arizona State University (ASU)',
       'Indiana University (IU), Bloomington', 'University of Iowa (UI)',
       'Randolph-Macon College', 'University of Alabama, Tuscaloosa',
       'University of Mississippi', 'University of New Hampshire (UNH)',
       'West Virginia University (WVU)', 'University of Tennessee',
       'Ohio University', 'Florida State University (FSU)',
       'Bucknell University', 'Colgate University', 'Amherst College',
       'Lafayette College', 'Bowdoin College',
       'College of the Holy Cross', 'Occidental College',
       'Washington and Lee University', 'Swarthmore College',
       'Davidson College', 'Carleton College', 'Williams College',
       'Pomona College', 'Wesleyan University (Middletown, Connecticut)',
       'Bates College', 'Union College', 'University of Richmond',
       'Vassar College', 'Middlebury College', 'Mount Holyoke College',
       'Franklin and Marshall College', 'DePauw University',
       'St. Olaf College', 'Colby College', 'Gettysburg College',
       'Siena College', 'Smith College', 'Hamilton College',
       'Wellesley College', 'Denison University', 'Oberlin College',
       'University of Puget Sound', 'Colorado College (CC)',
       'Reed College', 'Gustavus Adolphus College', 'Whitman College',
       'Ursinus College', 'Juniata College', 'Wittenberg University',
       'Grinnell College', 'Skidmore College', 'Moravian College',
       'Lewis & Clark College', 'Fort Lewis College',
       'Thomas Aquinas College', 'Evergreen State College',
       'Dartmouth College', 'Princeton University', 'Yale University',
       'Harvard University', 'University of Pennsylvania',
       'Cornell University', 'Brown University', 'Columbia University',
       'University of California, Berkeley',
       'University of Virginia (UVA)', 'Cal Poly San Luis Obispo',
       'University of California at Los Angeles (UCLA)',
       'University of California, San Diego (UCSD)',
       'University of California, Davis',
       'University of Colorado - Boulder (UCB)',
       'University of California, Irvine (UCI)',
       'University of Illinois at Urbana-Champaign (UIUC)',
       'Texas A&M University', 'Binghamton University',
       'University of Missouri - Rolla (UMR)',
       'San Jose State University (SJSU)',
       'University of California, Santa Barbara (UCSB)',
       'University of Michigan', 'Stony Brook University',
       'Rutgers University', 'Purdue University',
       'University of Connecticut (UConn)',
       'University of Massachusetts (UMass) - Amherst',
       'California State University (CSU), Chico',
       'University of Wisconsin (UW) - Madison',
       'California State University, Fullerton (CSUF)',
       'George Mason University',
       'University of Massachusetts (UMass) - Lowell',
       'San Francisco State University (SFSU)', 'University of Arizona',
       'Clemson University', 'University of Washington (UW)',
       'Michigan State University (MSU)',
       'University of Rhode Island (URI)',
       'San Diego State University (SDSU)', 'Auburn University',
       'Washington State University (WSU)',
       'California State University, Long Beach (CSULB)',
       'Iowa State University', 'University of Delaware',
       'University of Colorado - Denver',
       'California State University, East Bay (CSUEB)',
       'State University of New York (SUNY) at Farmingdale',
       'University of Minnesota',
       'University of California, Santa Cruz (UCSC)',
       'Ohio State University (OSU)',
       'North Carolina State University (NCSU)',
       'Oregon State University (OSU)', 'University of Utah',
       'University of Nevada, Reno (UNR)', 'University of Oklahoma',
       'University of Arkansas', 'University of Vermont (UVM)',
       'University of Alabama at Huntsville (UAH)',
       'California State University, Sacramento (CSUS)',
       'University of Idaho', 'University of Illinois at Chicago',
       'State University of New York (SUNY) at Buffalo',
       'University of Kansas', 'University of New Mexico (UNM)',
       'University of North Carolina at Chapel Hill (UNCH)',
       'University of California, Riverside (UCR)',
       'State University of New York (SUNY) at Geneseo',
       'University of Missouri - Columbia', 'University of Nebraska',
       'University of Texas at Arlington (UTA)',
       'Northern Illinois University (NIU)', 'Oklahoma State University',
       'University of North Dakota',
       'California State University, Northridge (CSUN)',
       'University of Houston (UH)', 'New Mexico State University',
       'Lamar University', 'Mississippi State University (MSU)',
       'Colorado State University (CSU)', 'Kansas State University (KSU)',
       'University of Wyoming (UW)', 'Utah State University',
       'University of Wisconsin (UW) - Platteville',
       'University of Oregon', 'University of Kentucky (UK)',
       'University of Massachusetts (UMass) - Boston',
       'University of Maryland Baltimore County (UMBC)',
       'North Dakota State University (NDSU)',
       'State University of New York (SUNY) at Oswego',
       'University of Massachusetts (UMass) - Dartmouth',
       'Montana State University - Bozeman',
       'State University of New York (SUNY) at Oneonta',
       'University of Louisiana (UL) at Lafayette',
       'State University of New York (SUNY) at Plattsburgh',
       'Wayne State University', 'University of Hawaii',
       'University of Toledo', 'Florida International University (FIU)',
       'University of Wisconsin (UW) - Whitewater',
       'Western Washington University',
       'Minnesota State University - Mankato',
       'University of Wisconsin (UW) - Milwaukee',
       'University of Arkansas - Monticello (UAM)',
       'Penn State - Harrisburg',
       'University of North Carolina at Charlotte (UNCC)',
       'Georgia State University', 'Western Michigan University (WMU)',
       'South Dakota State University (SDSU)', 'Idaho State University',
       'Illinois State University', 'Cleveland State University',
       'University of Alaska, Anchorage', 'Fitchburg State College',
       'University of Nebraska at Omaha',
       'Southern Illinois University Carbondale',
       'University of Texas at El Paso (UTEP)',
       'California State University, Dominguez Hills (CSUDH)',
       'University Of Maine', 'Eastern Michigan University',
       'Bowling Green State University', 'University of Montana',
       'University of Central Florida (UCF)',
       'University of South Carolina',
       'University of Nevada, Las Vegas (UNLV)',
       'St. Cloud State University',
       'University of Wisconsin (UW) - Parkside',
       'California State University (CSU), Stanislaus',
       'Humboldt State University', 'Florida Atlantic University (FAU)',
       'University of South Florida (USF)',
       'Portland State University (PSU)', 'Eastern Washington University',
       'University of Texas at San Antonio (UTSA)', 'University of Akron',
       'State University of New York (SUNY) at Potsdam',
       'University of Alabama at Birmingham (UAB)',
       'University of Memphis (U of M)', 'Boise State University (BSU)',
       'Missouri State University (MSU)',
       'University of Wisconsin (UW) - La Crosse',
       'Appalachian State University',
       'Virginia Commonwealth University (VCU)',
       'University of Wisconsin (UW) - Stout',
       'East Carolina University (ECU)', 'Utah Valley State College',
       'University of Missouri - St. Louis (UMSL)',
       'Western Carolina University',
       'University of Wisconsin (UW) - Oshkosh',
       'State University of New York (SUNY) at Fredonia',
       'University of Missouri - Kansas City (UMKC)',
       'University of Wisconsin (UW) - Eau Claire',
       'Ball State University (BSU)',
       'University of North Carolina at Wilmington (UNCW)',
       'University of Wisconsin (UW) - Stevens Point',
       'University of Southern Maine', 'Arkansas State University (ASU)',
       'Kent State University', 'Tarleton State University (TSU)',
       'University of Wisconsin (UW) - Green Bay',
       'Morehead State University', 'Austin Peay State University',
       'Pittsburg State University', 'Southern Utah University',
       'Montana State University - Billings',
       'Black Hills State University'], dtype=object)

In [41]:
universities_to_remove = [
    'Polytechnic University of New York',
    'South Dakota School of Mines & Technology',
    'Louisiana State University (LSU)',
    'University of Alabama, Tuscaloosa',
    'University of Tennessee',
    'Evergreen State College',
    'University of Illinois at Urbana-Champaign (UIUC)',
    'Texas A&M University',
    'University of Missouri - Rolla (UMR)',
    'University of California, Santa Barbara (UCSB)',
    'University of Michigan',
    'Rutgers University',
    'University of Colorado - Denver',
    'State University of New York (SUNY) at Farmingdale',
    'University of Oklahoma',
    'University of North Carolina at Chapel Hill (UNCH)',
    'University of North Carolina at Chapel Hill (UNCH)',
    'University of California, Riverside (UCR)',
    'State University of New York (SUNY) at Geneseo',
    'University of Missouri - Columbia', 'University of Nebraska',
    'University of Texas at Arlington (UTA)',
    'Northern Illinois University (NIU)', 'Oklahoma State University',
    'University of North Dakota',
    'California State University, Northridge (CSUN)',
    'University of Houston (UH)', 'New Mexico State University',
    'Lamar University', 'Mississippi State University (MSU)',
    'Colorado State University (CSU)', 'Kansas State University (KSU)',
    'University of Wyoming (UW)', 'Utah State University',
    'University of Wisconsin (UW) - Platteville',
    'University of Oregon', 'University of Kentucky (UK)',
    'University of Massachusetts (UMass) - Boston',
    'University of Maryland Baltimore County (UMBC)',
    'North Dakota State University (NDSU)',
    'State University of New York (SUNY) at Oswego',
    'University of Massachusetts (UMass) - Dartmouth',
    'Montana State University - Bozeman',
    'State University of New York (SUNY) at Oneonta',
    'University of Louisiana (UL) at Lafayette',
    'State University of New York (SUNY) at Plattsburgh',
    'Wayne State University', 'University of Hawaii',
    'University of Toledo', 'Florida International University (FIU)',
    'University of Wisconsin (UW) - Whitewater',
    'Western Washington University',
    'Minnesota State University - Mankato',
    'University of Wisconsin (UW) - Milwaukee',
    'University of Arkansas - Monticello (UAM)',
    'Penn State - Harrisburg',
    'University of North Carolina at Charlotte (UNCC)',
    'Georgia State University', 'Western Michigan University (WMU)',
    'South Dakota State University (SDSU)', 'Idaho State University',
    'Illinois State University', 'Cleveland State University',
    'University of Alaska, Anchorage', 'Fitchburg State College',
    'University of Nebraska at Omaha',
    'Southern Illinois University Carbondale',
    'University of Texas at El Paso (UTEP)',
    'California State University, Dominguez Hills (CSUDH)',
    'University Of Maine', 'Eastern Michigan University',
    'Bowling Green State University', 'University of Montana',
    'University of Central Florida (UCF)',
    'University of South Carolina',
    'University of Nevada, Las Vegas (UNLV)',
    'St. Cloud State University',
    'University of Wisconsin (UW) - Parkside',
    'California State University (CSU), Stanislaus',
    'Humboldt State University', 'Florida Atlantic University (FAU)',
    'Portland State University (PSU)', 'Eastern Washington University',
    'University of Texas at San Antonio (UTSA)', 'University of Akron',
    'State University of New York (SUNY) at Potsdam',
    'University of Alabama at Birmingham (UAB)',
    'University of Memphis (U of M)', 'Boise State University (BSU)',
    'Missouri State University (MSU)',
    'University of Wisconsin (UW) - La Crosse',
    'Appalachian State University',
    'Virginia Commonwealth University (VCU)',
    'University of Wisconsin (UW) - Stout',
    'East Carolina University (ECU)', 'Utah Valley State College',
    'University of Missouri - St. Louis (UMSL)',
    'Western Carolina University',
    'University of Wisconsin (UW) - Oshkosh',
    'State University of New York (SUNY) at Fredonia',
    'University of Missouri - Kansas City (UMKC)',
    'University of Wisconsin (UW) - Eau Claire',
    'Ball State University (BSU)',
    'University of North Carolina at Wilmington (UNCW)',
    'University of Wisconsin (UW) - Stevens Point',
    'University of Southern Maine', 'Arkansas State University (ASU)',
    'Kent State University', 'Tarleton State University (TSU)',
    'University of Wisconsin (UW) - Green Bay',
    'Morehead State University', 'Austin Peay State University',
    'Pittsburg State University', 'Southern Utah University',
    'Montana State University - Billings',
    'Black Hills State University'
]

salaries_by_clgtype_Filtered = salaries_by_clgtype[~salaries_by_clgtype['School Name'].isin(universities_to_remove)]

In [42]:
salaries_by_clgtype_Filtered['School Name'].count()

152

In [43]:
salaries_by_clgtype_Filtered['School Name']=salaries_by_clgtype_Filtered['School Name'].str.strip().str.lower()

C:\Users\athar\AppData\Local\Temp\ipykernel_32708\2177668617.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salaries_by_clgtype_Filtered['School Name']=salaries_by_clgtype_Filtered['School Name'].str.strip().str.lower()

In [53]:
salaries_by_clgtype_Filtered.to_csv('salaries_by_clgtype_Filtered.csv',index=False)

In [44]:
most_recent_Cohorts_FD['INSTNM']=most_recent_Cohorts_FD['INSTNM'].str.strip().str.lower()

C:\Users\athar\AppData\Local\Temp\ipykernel_32708\1963926801.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  most_recent_Cohorts_FD['INSTNM']=most_recent_Cohorts_FD['INSTNM'].str.strip().str.lower()

In [45]:
matching_names=salaries_by_clgtype_Filtered['School Name'].unique()

In [46]:
most_recent_Cohorts_FD=most_recent_Cohorts_FD[most_recent_Cohorts_FD['INSTNM'].isin(matching_names)]

In [47]:
most_recent_Cohorts_FD['INSTNM'].count()

2938

In [49]:
most_recent_Cohorts_FD.to_csv('most_recent_Cohorts_FD.csv',index=False)

In [50]:
salaries_by_region

,School Name,Region,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Stanford University,California,"$70,400.00","$129,000.00","$68,400.00","$93,100.00","$184,000.00","$257,000.00"
1,California Institute of Technology (CIT),California,"$75,500.00","$123,000.00",NaN,"$104,000.00","$161,000.00",NaN
2,Harvey Mudd College,California,"$71,800.00","$122,000.00",NaN,"$96,000.00","$180,000.00",NaN
3,"University of California, Berkeley",California,"$59,900.00","$112,000.00","$59,500.00","$81,000.00","$149,000.00","$201,000.00"
4,Occidental College,California,"$51,900.00","$105,000.00",NaN,"$54,800.00","$157,000.00",NaN
...,...,...,...,...,...,...,...,...
315,State University of New York (SUNY) at Potsdam,Northeastern,"$38,000.00","$70,300.00","$35,100.00","$51,200.00","$100,000.00","$179,000.00"
316,Niagara University,Northeastern,"$36,900.00","$69,700.00","$44,000.00","$57,000.00","$92,000.00","$128,000.00"
317,State University of New York (SUNY) at Fredonia,Northeastern,"$37,800.00","$66,200.00","$32,800.00","$44,200.00","$93,300.00","$181,000.00"
318,University of Southern Maine,Northeastern,"$39,400.00","$63,600.00","$40,400.00","$47,900.00","$85,700.00","$117,000.00"
319,Mercy College,Northeastern,"$43,700.00","$62,600.00","$35,600.00","$47,300.00","$99,000.00","$134,000.00"

In [59]:
salaries_by_region['School Name']=salaries_by_region['School Name'].str.strip().str.lower()

In [60]:
salaries_by_region_Filtered=salaries_by_region[salaries_by_region['School Name'].isin(matching_names)]

In [61]:
salaries_by_region_Filtered['School Name'].unique()

array(['california institute of technology', 'harvey mudd college',
       'university of california, berkeley', 'occidental college',
       'cal poly san luis obispo',
       'university of california at los angeles (ucla)',
       'university of california, san diego (ucsd)', 'pomona college',
       'university of california, davis',
       'university of california, irvine (uci)',
       'san jose state university (sjsu)',
       'california state university (csu), chico',
       'california state university, fullerton (csuf)',
       'san francisco state university (sfsu)',
       'san diego state university (sdsu)',
       'california state university, long beach (csulb)',
       'california state university, east bay (csueb)',
       'university of california, santa cruz (ucsc)',
       'california state university, sacramento (csus)',
       'thomas aquinas college', 'colorado school of mines',
       'university of colorado - boulder (ucb)', 'university of arizona',
       'university of washington (uw)',
       'washington state university (wsu)',
       'arizona state university (asu)', 'oregon state university (osu)',
       'university of utah', 'university of nevada, reno (unr)',
       'university of idaho', 'university of new mexico (unm)',
       'university of puget sound', 'colorado college (cc)',
       'reed college', 'whitman college', 'lewis & clark college',
       'fort lewis college', 'carleton college', 'purdue university',
       'depauw university', 'university of wisconsin (uw) - madison',
       'st. olaf college', 'michigan state university (msu)',
       'iowa state university', 'university of minnesota',
       'indiana university (iu), bloomington', 'university of iowa (ui)',
       'ohio state university (osu)', 'denison university',
       'university of illinois at chicago', 'oberlin college',
       'university of kansas', 'gustavus adolphus college',
       'wittenberg university', 'grinnell college', 'ohio university',
       'georgia institute of technology', 'washington and lee university',
       'davidson college', 'university of virginia (uva)',
       'university of maryland, college park', 'university of richmond',
       'university of texas (ut) - austin', 'university of florida (uf)',
       'george mason university', 'clemson university',
       'university of georgia (uga)', 'auburn university',
       'university of delaware', 'randolph-macon college',
       'north carolina state university (ncsu)', 'university of arkansas',
       'university of alabama at huntsville (uah)',
       'tennessee technological university', 'university of mississippi',
       'west virginia university (wvu)', 'florida state university (fsu)',
       'university of south florida (usf)', 'dartmouth college',
       'princeton university', 'yale university', 'harvard university',
       'university of pennsylvania',
       'polytechnic university of new york, brooklyn', 'cooper union',
       'cornell university', 'bucknell university', 'brown university',
       'colgate university', 'columbia university', 'amherst college',
       'lafayette college', 'bowdoin college',
       'college of the holy cross', 'stevens institute of technology',
       'swarthmore college', 'williams college',
       'wesleyan university (middletown, connecticut)',
       'wentworth institute of technology', 'bates college',
       'binghamton university', 'union college', 'vassar college',
       'middlebury college', 'mount holyoke college',
       'stony brook university', 'franklin and marshall college',
       'state university of new york (suny) at albany',
       'university of connecticut (uconn)',
       'university of massachusetts (umass) - amherst',
       'university of massachusetts (umass) - lowell', 'colby college',
       'gettysburg college', 'pennsylvania state university (psu)',
       'university of rhode island (uri)', 'siena college',
       'smith college', 'hamilton college', 'wellesley college',
       'university of vermont (uvm)',
       'state university of new york (suny) at buffalo',
       'ursinus college', 'juniata college',
       'university of new hampshire (unh)', 'skidmore college',
       'moravian college'], dtype=object)

In [64]:
salaries_by_region_Filtered.to_csv("salaries_by_region_Filtered.csv",index=False)

In [65]:
salaries_by_region_Filtered.head()

,School Name,Region,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
1,california institute of technology,California,"$75,500.00","$123,000.00",NaN,"$104,000.00","$161,000.00",NaN
2,harvey mudd college,California,"$71,800.00","$122,000.00",NaN,"$96,000.00","$180,000.00",NaN
3,"university of california, berkeley",California,"$59,900.00","$112,000.00","$59,500.00","$81,000.00","$149,000.00","$201,000.00"
4,occidental college,California,"$51,900.00","$105,000.00",NaN,"$54,800.00","$157,000.00",NaN
5,cal poly san luis obispo,California,"$57,200.00","$101,000.00","$55,000.00","$74,700.00","$133,000.00","$178,000.00"

In [66]:
most_recent_Cohorts_FD.head()

,UNITID,OPEID6,INSTNM,CONTROL,MAIN,CIPCODE,CIPDESC,CREDLEV,CREDDESC,IPEDSCOUNT1,...,EARN_COUNT_PELL_WNE_5YR,EARN_PELL_WNE_MDN_5YR,EARN_COUNT_NOPELL_WNE_5YR,EARN_NOPELL_WNE_MDN_5YR,EARN_COUNT_MALE_WNE_5YR,EARN_MALE_WNE_MDN_5YR,EARN_COUNT_NOMALE_WNE_5YR,EARN_NOMALE_WNE_MDN_5YR,EARN_COUNT_HIGH_CRED_5YR,EARN_IN_STATE_5YR
791,100858.0,1009,auburn university,Public,1,100,agriculture,3,Bachelor's Degree,21.0,...,PS,PS,PS,PS,PS,PS,PS,PS,PS,PS
814,100858.0,1009,auburn university,Public,1,305,forestry,3,Bachelor's Degree,39.0,...,PS,PS,PS,PS,PS,PS,PS,PS,PS,PS
815,100858.0,1009,auburn university,Public,1,305,forestry,5,Master's Degree,10.0,...,PS,PS,PS,PS,PS,PS,PS,PS,PS,PS
816,100858.0,1009,auburn university,Public,1,305,forestry,6,Doctoral Degree,3.0,...,PS,PS,PS,PS,PS,PS,PS,PS,PS,PS
817,100858.0,1009,auburn university,Public,1,305,forestry,8,Graduate/Professional Certificate,NaN,...,PS,PS,PS,PS,PS,PS,PS,PS,PS,PS

In [68]:
most_recent_Cohorts_FD.columns

Index(['UNITID', 'OPEID6', 'INSTNM', 'CONTROL', 'MAIN', 'CIPCODE', 'CIPDESC',
       'CREDLEV', 'CREDDESC', 'IPEDSCOUNT1',
       ...
       'EARN_COUNT_PELL_WNE_5YR', 'EARN_PELL_WNE_MDN_5YR',
       'EARN_COUNT_NOPELL_WNE_5YR', 'EARN_NOPELL_WNE_MDN_5YR',
       'EARN_COUNT_MALE_WNE_5YR', 'EARN_MALE_WNE_MDN_5YR',
       'EARN_COUNT_NOMALE_WNE_5YR', 'EARN_NOMALE_WNE_MDN_5YR',
       'EARN_COUNT_HIGH_CRED_5YR', 'EARN_IN_STATE_5YR'],
      dtype='object', length=174)

In [69]:
(most_recent_Cohorts_FD['DEBT_ALL_STGP_ANY_MEAN'] == 'PS').sum()

2539

In [70]:
 (most_recent_Cohorts_FD['DEBT_ALL_STGP_ANY_MDN'] == 'PS').sum()

2169

In [71]:
 (most_recent_Cohorts_FD['DEBT_ALL_STGP_EVAL_MEAN'] == 'PS').sum()

2372

In [72]:
most_recent_Cohorts_FD = most_recent_Cohorts_FD.loc[:, ~most_recent_Cohorts_FD.columns.str.startswith('EARN_')]

In [74]:
most_recent_Cohorts_FD.columns

Index(['UNITID', 'OPEID6', 'INSTNM', 'CONTROL', 'MAIN', 'CIPCODE', 'CIPDESC',
       'CREDLEV', 'CREDDESC', 'IPEDSCOUNT1',
       ...
       'BBRR4_FED_COMP_N', 'BBRR4_FED_COMP_DFLT', 'BBRR4_FED_COMP_DLNQ',
       'BBRR4_FED_COMP_FBR', 'BBRR4_FED_COMP_DFR', 'BBRR4_FED_COMP_NOPROG',
       'BBRR4_FED_COMP_MAKEPROG', 'BBRR4_FED_COMP_PAIDINFULL',
       'BBRR4_FED_COMP_DISCHARGE', 'DISTANCE'],
      dtype='object', length=112)

In [75]:
most_recent_Cohorts_FD = most_recent_Cohorts_FD.loc[:, ~most_recent_Cohorts_FD.columns.str.startswith('BBRR4_')]

In [76]:
most_recent_Cohorts_FD.columns

Index(['UNITID', 'OPEID6', 'INSTNM', 'CONTROL', 'MAIN', 'CIPCODE', 'CIPDESC',
       'CREDLEV', 'CREDDESC', 'IPEDSCOUNT1',
       ...
       'BBRR1_FED_COMP_N', 'BBRR1_FED_COMP_DFLT', 'BBRR1_FED_COMP_DLNQ',
       'BBRR1_FED_COMP_FBR', 'BBRR1_FED_COMP_DFR', 'BBRR1_FED_COMP_NOPROG',
       'BBRR1_FED_COMP_MAKEPROG', 'BBRR1_FED_COMP_PAIDINFULL',
       'BBRR1_FED_COMP_DISCHARGE', 'DISTANCE'],
      dtype='object', length=103)

In [77]:
most_recent_Cohorts_FD = most_recent_Cohorts_FD.loc[:, ~most_recent_Cohorts_FD.columns.str.startswith('BBRR')]

In [79]:
most_recent_Cohorts_FD

,UNITID,OPEID6,INSTNM,CONTROL,MAIN,CIPCODE,CIPDESC,CREDLEV,CREDDESC,IPEDSCOUNT1,...,DEBT_NOPELL_PP_ANY_MEAN,DEBT_NOPELL_PP_ANY_MDN,DEBT_NOPELL_PP_EVAL_N,DEBT_NOPELL_PP_EVAL_MEAN,DEBT_NOPELL_PP_EVAL_MDN,DEBT_ALL_PP_ANY_MDN10YRPAY,DEBT_ALL_PP_EVAL_MDN10YRPAY,DEBT_ALL_STGP_ANY_MDN10YRPAY,DEBT_ALL_STGP_EVAL_MDN10YRPAY,DISTANCE
791,100858.0,1009,auburn university,Public,1,100,agriculture,3,Bachelor's Degree,21.0,...,PS,PS,PS,PS,PS,PS,PS,187,182,1
814,100858.0,1009,auburn university,Public,1,305,forestry,3,Bachelor's Degree,39.0,...,PS,PS,PS,PS,PS,PS,PS,217,199,1
815,100858.0,1009,auburn university,Public,1,305,forestry,5,Master's Degree,10.0,...,PS,PS,PS,PS,PS,PS,PS,PS,PS,1
816,100858.0,1009,auburn university,Public,1,305,forestry,6,Doctoral Degree,3.0,...,PS,PS,PS,PS,PS,PS,PS,PS,PS,1
817,100858.0,1009,auburn university,Public,1,305,forestry,8,Graduate/Professional Certificate,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187793,237057.0,3803,whitman college,"Private, nonprofit",1,4511,sociology,3,Bachelor's Degree,23.0,...,PS,PS,PS,PS,PS,PS,PS,212,212,1
187796,237057.0,3803,whitman college,"Private, nonprofit",1,5005,drama,3,Bachelor's Degree,6.0,...,PS,PS,PS,PS,PS,PS,PS,PS,PS,1
187798,237057.0,3803,whitman college,"Private, nonprofit",1,5007,art history,3,Bachelor's Degree,19.0,...,PS,PS,PS,PS,PS,PS,PS,PS,PS,1
187799,237057.0,3803,whitman college,"Private, nonprofit",1,5009,music,3,Bachelor's Degree,8.0,...,PS,PS,PS,PS,PS,PS,PS,PS,PS,1
187801,237057.0,3803,whitman college,"Private, nonprofit",1,5401,history,3,Bachelor's Degree,19.0,...,PS,PS,PS,PS,PS,PS,PS,PS,PS,1

In [78]:
most_recent_Cohorts_FD.columns

Index(['UNITID', 'OPEID6', 'INSTNM', 'CONTROL', 'MAIN', 'CIPCODE', 'CIPDESC',
       'CREDLEV', 'CREDDESC', 'IPEDSCOUNT1', 'IPEDSCOUNT2',
       'DEBT_ALL_STGP_ANY_N', 'DEBT_ALL_STGP_ANY_MEAN',
       'DEBT_ALL_STGP_ANY_MDN', 'DEBT_ALL_STGP_EVAL_N',
       'DEBT_ALL_STGP_EVAL_MEAN', 'DEBT_ALL_STGP_EVAL_MDN',
       'DEBT_ALL_PP_ANY_N', 'DEBT_ALL_PP_ANY_MEAN', 'DEBT_ALL_PP_ANY_MDN',
       'DEBT_ALL_PP_EVAL_N', 'DEBT_ALL_PP_EVAL_MEAN', 'DEBT_ALL_PP_EVAL_MDN',
       'DEBT_MALE_STGP_ANY_N', 'DEBT_MALE_STGP_ANY_MEAN',
       'DEBT_MALE_STGP_ANY_MDN', 'DEBT_MALE_STGP_EVAL_N',
       'DEBT_MALE_STGP_EVAL_MEAN', 'DEBT_MALE_STGP_EVAL_MDN',
       'DEBT_MALE_PP_ANY_N', 'DEBT_MALE_PP_ANY_MEAN', 'DEBT_MALE_PP_ANY_MDN',
       'DEBT_MALE_PP_EVAL_N', 'DEBT_MALE_PP_EVAL_MEAN',
       'DEBT_MALE_PP_EVAL_MDN', 'DEBT_NOTMALE_STGP_ANY_N',
       'DEBT_NOTMALE_STGP_ANY_MEAN', 'DEBT_NOTMALE_STGP_ANY_MDN',
       'DEBT_NOTMALE_STGP_EVAL_N', 'DEBT_NOTMALE_STGP_EVAL_MEAN',
       'DEBT_NOTMALE_STGP_EVAL_MDN', 'DEBT_NOTMALE_PP_ANY_N',
       'DEBT_NOTMALE_PP_ANY_MEAN', 'DEBT_NOTMALE_PP_ANY_MDN',
       'DEBT_NOTMALE_PP_EVAL_N', 'DEBT_NOTMALE_PP_EVAL_MEAN',
       'DEBT_NOTMALE_PP_EVAL_MDN', 'DEBT_PELL_STGP_ANY_N',
       'DEBT_PELL_STGP_ANY_MEAN', 'DEBT_PELL_STGP_ANY_MDN',
       'DEBT_PELL_STGP_EVAL_N', 'DEBT_PELL_STGP_EVAL_MEAN',
       'DEBT_PELL_STGP_EVAL_MDN', 'DEBT_PELL_PP_ANY_N',
       'DEBT_PELL_PP_ANY_MEAN', 'DEBT_PELL_PP_ANY_MDN', 'DEBT_PELL_PP_EVAL_N',
       'DEBT_PELL_PP_EVAL_MEAN', 'DEBT_PELL_PP_EVAL_MDN',
       'DEBT_NOPELL_STGP_ANY_N', 'DEBT_NOPELL_STGP_ANY_MEAN',
       'DEBT_NOPELL_STGP_ANY_MDN', 'DEBT_NOPELL_STGP_EVAL_N',
       'DEBT_NOPELL_STGP_EVAL_MEAN', 'DEBT_NOPELL_STGP_EVAL_MDN',
       'DEBT_NOPELL_PP_ANY_N', 'DEBT_NOPELL_PP_ANY_MEAN',
       'DEBT_NOPELL_PP_ANY_MDN', 'DEBT_NOPELL_PP_EVAL_N',
       'DEBT_NOPELL_PP_EVAL_MEAN', 'DEBT_NOPELL_PP_EVAL_MDN',
       'DEBT_ALL_PP_ANY_MDN10YRPAY', 'DEBT_ALL_PP_EVAL_MDN10YRPAY',
       'DEBT_ALL_STGP_ANY_MDN10YRPAY', 'DEBT_ALL_STGP_EVAL_MDN10YRPAY',
       'DISTANCE'],
      dtype='object')

In [80]:
columns_to_keep=['INSTNM','CONTROL','CIPDESC','CREDDESC','DEBT_ALL_STGP_ANY_MEAN','DEBT_PELL_STGP_ANY_MEAN']

In [82]:
most_recent_Cohorts_FD=most_recent_Cohorts_FD[columns_to_keep]

In [83]:
most_recent_Cohorts_FD

,INSTNM,CONTROL,CIPDESC,CREDDESC,DEBT_ALL_STGP_ANY_MEAN,DEBT_PELL_STGP_ANY_MEAN
791,auburn university,Public,agriculture,Bachelor's Degree,PS,PS
814,auburn university,Public,forestry,Bachelor's Degree,PS,PS
815,auburn university,Public,forestry,Master's Degree,PS,PS
816,auburn university,Public,forestry,Doctoral Degree,PS,PS
817,auburn university,Public,forestry,Graduate/Professional Certificate,NaN,NaN
...,...,...,...,...,...,...
187793,whitman college,"Private, nonprofit",sociology,Bachelor's Degree,PS,PS
187796,whitman college,"Private, nonprofit",drama,Bachelor's Degree,PS,PS
187798,whitman college,"Private, nonprofit",art history,Bachelor's Degree,PS,PS
187799,whitman college,"Private, nonprofit",music,Bachelor's Degree,PS,PS
187801,whitman college,"Private, nonprofit",history,Bachelor's Degree,PS,PS

In [84]:
most_recent_Cohorts_FD.to_csv("most_recent_Cohorts_FD.csv", index=False)

In [89]:
(most_recent_Cohorts_FD['DEBT_ALL_STGP_ANY_MEAN']=='PS').sum()

2539

In [90]:
(most_recent_Cohorts_FD['DEBT_ALL_STGP_ANY_MEAN']!='PS').sum()

399

In [95]:
most_recent_Cohorts_FD['DEBT_ALL_STGP_ANY_MEAN'].isna().sum()

51

In [93]:
most_recent_Cohorts_FD['DEBT_ALL_STGP_ANY_MEAN'].unique()

array(['PS', nan, '19182', '27078', '22708', '21860', '22049', '19044',
       '21291', '20207', '22047', '22785', '19698', '20329', '23562',
       '21694', '23949', '23086', '19374', '22037', '21210', '19560',
       '21285', '19152', '32343', '21117', '20093', '19783', '16827',
       '20469', '23411', '21925', '19126', '20112', '19609', '23179',
       '20920', '23277', '23709', '20717', '22101', '24997', '23355',
       '22860', '22137', '22218', '24241', '24110', '20501', '21503',
       '20163', '23210', '24564', '23497', '20064', '16680', '15948',
       '17143', '22457', '20852', '20179', '20548', '22818', '22413',
       '21890', '23134', '23624', '21028', '22224', '20988', '21713',
       '21653', '21849', '19418', '24215', '27854', '22925', '25708',
       '21040', '19632', '21474', '25588', '21053', '21832', '22117',
       '24248', '18871', '20576', '18349', '23401', '27490', '22129',
       '24550', '23881', '23289', '23071', '21618', '22951', '23828',
       '22525', '22257', '22034', '19997', '23839', '21700', '22474',
       '24943', '21237', '24964', '20939', '22528', '20612', '21054',
       '21197', '24496', '20494', '21258', '22952', '24331', '21233',
       '22713', '21456', '24039', '20004', '19408', '20188', '23011',
       '29370', '29352', '13796', '15259', '15260', '12907', '13188',
       '20344', '20638', '21156', '18356', '19627', '24546', '25659',
       '24497', '25290', '13164', '12825', '15416', '12058', '19710',
       '21506', '22937', '20011', '23022', '21823', '24199', '21650',
       '22230', '21365', '21747', '21909', '23465', '22386', '26934',
       '12643', '16782', '20363', '25552', '16716', '14269', '13561',
       '13522', '14794', '14991', '16328', '13279', '14298', '14439',
       '12498', '13615', '15715', '20961', '22699', '25201', '26983',
       '22891', '24398', '23703', '24126', '28533', '24464', '17929',
       '18287', '20379', '19638', '21622', '19975', '19135', '20241',
       '19841', '21916', '19972', '23565', '21351', '22987', '18745',
       '17683', '16738', '19968', '19876', '24877', '17543', '20739',
       '19387', '19608', '21806', '22094', '20395', '20477', '18675',
       '20564', '20731', '19509', '24683', '19071', '20905', '18847',
       '17849', '14146', '13757', '24541', '21987', '22167', '22667',
       '14330', '15407', '16823', '16396', '18198', '16737', '13447',
       '16388', '12562', '19958', '22550', '26498', '13689', '11784',
       '18598', '26035', '25286', '14591', '26139', '21015', '22882',
       '21833', '22376', '23732', '21627', '24530', '20812', '21080',
       '27215', '23563', '22849', '22771', '22540', '19910', '21548',
       '16561', '20411', '17540', '13408', '16619', '18787', '21525',
       '19851', '18953', '18367', '19213', '23158', '23518', '26677',
       '20853', '23833', '22778', '25939', '21179', '24119', '25121',
       '23039', '20653', '17993', '21051', '19759', '22995', '25873',
       '24192', '23186', '21727', '20596', '22459', '25912', '23830',
       '23503', '25704', '24270', '23332', '25351', '25919', '22382',
       '20492', '23016', '22442', '22097', '21149', '22190', '24747',
       '23519', '23729', '22944', '24088', '21741', '22711', '16131',
       '19459', '19996', '19805', '20886', '22761', '21868', '20117',
       '20647', '20755', '19999', '21782', '21744', '21715', '17855',
       '20421', '20123', '19484', '23165', '23753', '22808', '20706',
       '17407', '16454'], dtype=object)

In [147]:
df_no_ps = most_recent_Cohorts_FD[most_recent_Cohorts_FD['DEBT_ALL_STGP_ANY_MEAN'] != 'PS']

In [148]:
df_no_ps

,INSTNM,CONTROL,CIPDESC,CREDDESC,DEBT_ALL_STGP_ANY_MEAN,DEBT_PELL_STGP_ANY_MEAN
817,auburn university,Public,forestry,Graduate/Professional Certificate,NaN,23018.248731
829,auburn university,Public,journalism,Bachelor's Degree,19182,23202
832,auburn university,Public,computer science,Bachelor's Degree,27078,PS
874,auburn university,Public,chemical engineering,Graduate/Professional Certificate,NaN,23018.248731
887,auburn university,Public,mechanical engineering,Bachelor's Degree,22708,26392
...,...,...,...,...,...,...
185845,university of puget sound,"Private, nonprofit",psychology,Bachelor's Degree,23753,25924
185852,university of puget sound,"Private, nonprofit",art history,Bachelor's Degree,22808,PS
185862,university of puget sound,"Private, nonprofit",history,Bachelor's Degree,20706,PS
187773,whitman college,"Private, nonprofit",biology,Bachelor's Degree,17407,PS
187791,whitman college,"Private, nonprofit",economics,Bachelor's Degree,16454,PS

In [149]:
df_no_ps['DEBT_ALL_STGP_ANY_MEAN']=pd.to_numeric(df_no_ps['DEBT_ALL_STGP_ANY_MEAN'], errors='coerce')

C:\Users\athar\AppData\Local\Temp\ipykernel_32708\2342843369.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_no_ps['DEBT_ALL_STGP_ANY_MEAN']=pd.to_numeric(df_no_ps['DEBT_ALL_STGP_ANY_MEAN'], errors='coerce')

In [150]:
mean_values = df_no_ps['DEBT_ALL_STGP_ANY_MEAN'].mean()

In [151]:
mean_values

21078.57183908046

In [152]:
most_recent_Cohorts_FD['DEBT_ALL_STGP_ANY_MEAN']=most_recent_Cohorts_FD['DEBT_ALL_STGP_ANY_MEAN'].fillna(mean_values)

C:\Users\athar\AppData\Local\Temp\ipykernel_32708\1584033185.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  most_recent_Cohorts_FD['DEBT_ALL_STGP_ANY_MEAN']=most_recent_Cohorts_FD['DEBT_ALL_STGP_ANY_MEAN'].fillna(mean_values)

In [118]:
df_no_ps1 = most_recent_Cohorts_FD[most_recent_Cohorts_FD['DEBT_PELL_STGP_ANY_MEAN'] != 'PS']

In [120]:
df_no_ps1['DEBT_PELL_STGP_ANY_MEAN']=pd.to_numeric(df_no_ps1['DEBT_PELL_STGP_ANY_MEAN'], errors='coerce')

C:\Users\athar\AppData\Local\Temp\ipykernel_32708\2481278852.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_no_ps1['DEBT_PELL_STGP_ANY_MEAN']=pd.to_numeric(df_no_ps1['DEBT_PELL_STGP_ANY_MEAN'], errors='coerce')

In [122]:
mean_values1 = df_no_ps1['DEBT_PELL_STGP_ANY_MEAN'].mean()

In [133]:
mean_values1

23018.248730964468

In [128]:
most_recent_Cohorts_FD['DEBT_PELL_STGP_ANY_MEAN']=most_recent_Cohorts_FD['DEBT_PELL_STGP_ANY_MEAN'].fillna(mean_values1)

C:\Users\athar\AppData\Local\Temp\ipykernel_32708\1024981964.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  most_recent_Cohorts_FD['DEBT_PELL_STGP_ANY_MEAN']=most_recent_Cohorts_FD['DEBT_PELL_STGP_ANY_MEAN'].fillna(mean_values1)

In [153]:
most_recent_Cohorts_FD

,INSTNM,CONTROL,CIPDESC,CREDDESC,DEBT_ALL_STGP_ANY_MEAN,DEBT_PELL_STGP_ANY_MEAN
791,auburn university,Public,agriculture,Bachelor's Degree,PS,PS
814,auburn university,Public,forestry,Bachelor's Degree,PS,PS
815,auburn university,Public,forestry,Master's Degree,PS,PS
816,auburn university,Public,forestry,Doctoral Degree,PS,PS
817,auburn university,Public,forestry,Graduate/Professional Certificate,21078.571839,23018.248731
...,...,...,...,...,...,...
187793,whitman college,"Private, nonprofit",sociology,Bachelor's Degree,PS,PS
187796,whitman college,"Private, nonprofit",drama,Bachelor's Degree,PS,PS
187798,whitman college,"Private, nonprofit",art history,Bachelor's Degree,PS,PS
187799,whitman college,"Private, nonprofit",music,Bachelor's Degree,PS,PS
187801,whitman college,"Private, nonprofit",history,Bachelor's Degree,PS,PS

In [154]:
most_recent_Cohorts_FD.to_csv("most_recent_Cohorts_FD.csv",index=False)

In [157]:
Degree_pay.to_csv('degrees_that_pay_back_Filtered.csv',index=False)